*{
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}

.kbt {
    height: 400px;
    width: 900px;
    background-image: url(images/kabitafix.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 40px;
    font-weight: 800;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

.menu {
    float: right;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: fixed;
    top: 0;
    background: maroon;
    z-index: 1;
    border-bottom: 2px solid orange;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: orange;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    text-align: justify;
    padding-top: 45px;
}

.kolom {
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 40px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
}

img {
    width: 400px;
    height: 400px;
}

h2 {
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
    color: orange;
    width: 100%;
    line-height: 5-px; 
}

h3 {
    font-family: 'comic sans-ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    width: 100%;
    line-height: 5-px; 
}

h4 {
    color: white;
    margin: 10px;
}

a.tbl-orange {
    background-color: orange;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-orange:hover {
    background: maroon;
    text-decoration: none;
}

a.tbl-maroon {
    background-color: maroon;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-maroon:hover {
    background: orange;
    text-decoration: none;
}

a.tbl-white {
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-white:hover {
    background: orange;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

p1 {
    margin: 0px 10px 0px 10px;
    padding-right: 10px;
}

home {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    text-align: justify;
    padding-top: 25px;
}

img{
    border-radius: 8px;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 0px;
    }
    
.images {
    background-color: maroon;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
}
    
.images img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px white;
}

.tengah {
    text-align: center;
    width: 100%;
}

#contact {
    background-color: maroon;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: maroon;
}

.sidebar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height: 70px;
    background: orange;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    transition: 4s;
}

.sidebar ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i{
    margin-right: 16px;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: orange;
    border-radius: 3px;
}

label #btn{
    left: 20px;
    top: 20px;
    font-size: 25px;
    color: black;
    padding: 6px;
    transition: all .5s ease;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: black;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: maroon;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: maroon;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .maps{
    margin-bottom: 50px;
  }

  .animation {
    padding-top: 40px;
    width: 100px;
    height: 50px;
    background-color: maroon;
    position: relative;
    animation-name: example;
    animation-duration: 30s;
  }
  
  @keyframes example {
    0%   {background-color: maroon; left:0px; top:0px;}
    25%  {background-color: orange; left:800px; top:0px;}
    50%  {background-color:blue; left:800px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color: maroon; left:0px; top:0px;}
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

.social-icons a {
    text-decoration: none;
    color: #000;
}

.social-icons a:hover {
    color: #007bff;
}
