h2  {
    color: darkblue;
    margin-top: -30px;
}

h1{
    font-size: 30px;
}
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(IMAGES/Deanrahijab.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 100% 91%;
    margin-top: -50px;
    }