/*Background Image -- Height Width*/
.skr {
    height: 60vh;
    width: 100%;
    background-image: url(IMAGES/sakura6.jpg);
    background-size: cover;
    background-position: center;
    color: white;a
    padding:20px 25px;
}

.paragraf p {
    text-align: justify;
    text-indent: 30px;
    margin-top: 25px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: 5px solid #fafafa;
    border-radius: 5px;
    background-color: #fafafa;
    color: black;
}

.image-list {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
margin-top: 30px;
}

.images {
    background-color: #fafafa;
    padding: 1.5em;
    width: 200px;
    text-align: center;
}

.images img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3)
}

table {
    border-collapse: collapse;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

th, td {
    border: 2px solid: #fafafa;
    text-align: center;
    padding: 10px;

}

th{
    background-color: #fafafa;
}
td{
    background-color: #fafafa;
}
